---
title: Lab 1
author: Sam Ricafrente
format:
    html:
        toc: true
        code-fold: true
        embed-resources: true
---

In [17]:
import numpy as np
import pandas as pd
from plotnine import *

# Task 1

1. Identify, and list here, what aesthetics are being used and which variables are being mapped to each aesthetic.

2. Import the q1data.csv dataset.

In [23]:
q1 = pd.read_csv('/Users/bri_r/OneDrive/Desktop/GSB-544/Data/q1data.csv')
q1.head()

    income  life_exp  ...       eight_regions           world_bank_region
0   1910.0      61.0  ...           asia_west                  South Asia
1  11100.0      78.1  ...         europe_east       Europe & Central Asia
2  11100.0      74.7  ...        africa_north  Middle East & North Africa
3  46900.0      81.9  ...         europe_west       Europe & Central Asia
4   7680.0      60.8  ...  africa_sub_saharan          Sub-Saharan Africa

[5 rows x 9 columns]

3. Recreate the plot as best you can using plotnine.

4. What other geometries could you use here besides geom_point? Provide an actual plot of another geometry being used here and why itâ€™s good or bad for visualizing these data.

# Task 2

1. Identify, and list here, what aesthetics are being used and which variables are being mapped to each aesthetic.

2. Import the q2data.csv dataset.

In [26]:
q2 = pd.read_csv("/Users/bri_r/OneDrive/Desktop/GSB-544/Data/q2data.csv")
q2.head()

   imports  exports  ...       eight_regions           world_bank_region
0      NaN      NaN  ...           asia_west                  South Asia
1     36.7     11.5  ...         europe_east       Europe & Central Asia
2     22.5     22.6  ...        africa_north  Middle East & North Africa
3      NaN      NaN  ...                 NaN                         NaN
4      NaN      NaN  ...  africa_sub_saharan          Sub-Saharan Africa

[5 rows x 9 columns]

3. Recreate the plot as best you can using plotnine.

4. What other geometries could you use here besides geom_point? Provide an actual plot of another geometry being used here and why itâ€™s good or bad for visualizing these data.

# Task 3

1. Identify, and list here, what aesthetics are being used and which variables are being mapped to each aesthetic.

2. Import the q3data.csv dataset.

In [25]:
q3 = pd.read_csv("/Users/bri_r/OneDrive/Desktop/GSB-544/Data/q3data.csv")
q3.head()

   internet_users      gdp  ...  eight_regions           world_bank_region
0         0.00456    330.0  ...      asia_west                  South Asia
1         0.39000   2570.0  ...    europe_east       Europe & Central Asia
2         1.59000   3770.0  ...   africa_north  Middle East & North Africa
3             NaN  10500.0  ...            NaN                         NaN
4        11.30000  42600.0  ...    europe_west       Europe & Central Asia

[5 rows x 9 columns]

3. Recreate the plot as best you can using plotnine.

4. What other geometries could you use here besides geom_point? Provide an actual plot of another geometry being used here and why itâ€™s good or bad for visualizing these data.